*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

#main{
    background: #fcfcfc;
}
footer{
    background-color: #111;
    height: auto;
    width: 100%;
    font-family: "Museo 700";
    @font-face {
        font-family: "Museo";
        src: url("public/fonts/museo-700.otf");
    }
    padding-top: 1.5%;
    color: #fff;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.container h3{
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.container p{
    max-width: 100%;
    line-height: 28px;
    font-size: 2rem;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: #50c878;
}
.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}