/* MENU VERTICAL */

#menu-estacoes {
    width: 20%;
    height: auto;
}

#estacao {
    margin-top: 7%;
    margin-bottom: 7%;
    width: 70%;
    display: flex;
    justify-content: center;
}

#estacao img {
    max-width: 29%;
    margin-right: 10%;
}

#estacao a{
    width: 80%;
    height: auto;
    font-size: 1.3rem;
    font-family: arial;
    font-weight: bold;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}


#faixa {
    background-color: #50c878;
    z-index: -1;
    position: absolute;
    width: 2%;
    left: 1.85%;
}

/* FIM MENU VERTICAL */

/* CARROSSEL */

.content {
    height: auto;
    width: 65%;
    border-radius: 20px 25px ;

    margin-top: 3%;
    margin-left: 50%;

    overflow: hidden;
    transform: translate(-50%, -20%);/* move em seu proprio eixo  */
    box-shadow: 0px 25px 30px -15px;
}

.navigation {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    width: 50%;
}

.bar {
    width: 16%;
    height: 17px;
    border: 2px solid #FFF;
    margin: 1.5%;
    border-radius: 10px;
    cursor: pointer; /* quando passar por cima de algo selecionavel, altera o cursor do mouse */
    transition: .3s;
    background-color: rgba(0, 0, 0, 0.5);
}

.bar:hover {
    background-color: #3DEBB0;
}

#slide1,
#slide2, 
#slide3, 
#slide4,
#slide5 {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .5s;
}

.slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* quando o input estiver checked ela tenha uma margin */ 
#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

#slide4:checked ~ .s1 {
    margin-left: -60%;
}

#slide5:checked ~ .s1 {
    margin-left: -80%;
}

/* FIM CARROSSEL */

/* PRINCIPAL */
#principal {
    display: flex;
    justify-content: center;
}

#status {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
    width: 70%;
    margin: auto;
    margin-bottom: 5%;
}

#status img{
    margin-left: 20%;
    width: 80%;
}

#status h1 {
    /* font-size: 2vw; */
    font-size: 1.5rem;
    margin-right: 20%;
}

#imagem {
    width: 10%;
}

#status #statush1 {
    width: 85%;
    text-align: center;
}

#informacoes {
    width: 100%;
}



/* CONTEUDO */
#conteudo {
    margin-right: 5%;
    margin-left: 5%;
    width: 70%;
}

/* RECLEMAÇÃO */
#caixa-reclamar {
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    width: 100%;
    margin-bottom: 3%;
}

#foto-comentario {
    display: flex;
    align-items: center;
    margin-right: 3%;
    margin-bottom: 2%;
    width: 100%;
}

#caixa-reclamar img{
    width: 10%;
    border-radius: 50%;
    margin-right: 3%;
    margin-left: 3%;
}

#reclamacao {
    resize: none;
    font-size: 1.5rem;
    width: 80%;
    font-family: Arial;
    border-radius: 10px;
    padding: 10px;
    background-color: #eee;
}

#caixa-reclamar button {
    font-family: Arial;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 3px;
    left: 3%;
    height: 30px;
    width: 20%;
    margin-left: 75%;
}

/* FIM RECLAMAÇÃO */


/* COMENTÁRIO */
#comentario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
    width: 94%;
}

#comentario img{
    width: 12.5%;
    border-radius: 50%;
}

#caixa-comentario {
    width: 80%;
    padding: 1% 2.5%;
    border-radius: 20px;
    background-color: #eee;
}

#caixa-comentario p {
    padding-bottom: 2.5%;
    font-size: 1.2rem;}

#comentario-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
}
#nome-usuario, #botoes, #data-post, #denunciar{
    display: flex;
    width: 20%;
}

#botoes {
    min-width: 80px;
}

#nome-usuario, #data-post, #denunciar, #comentario-footer{
    font-weight: bold;
    font-size: 1rem;
    align-items: flex-end;
    color: #aaa;
}

#denunciar a{ 
    text-decoration: none;
    color: inherit;
}

#botoes {
    width: 18%;
    justify-content: space-between;
}


#botoes img {
    width: 25%;
    height: auto;
    cursor: pointer;
}
/* FIM COMENTÁRIO */
/* FIM CONTEUDO */
/* FIM PRINCIPAL */
.menuAtivo {
    display: block !important;
    width: 50% !important;
    background-color: #eee !important;
    z-index: 3 !important;
}
.faixaMenuHamburger {
    display: block !important;
    left: 35.2% !important;
    width: 4.5% !important;
    z-index: -2 !important;
}
.estacaoMenuHamburger {
    z-index: -1 !important;
}
.mostrarInfo {
    display: block !important;
}
@media (max-width: 1000px) {
    #comentario-footer {
        display: none;
        height: 5%;
    }
    
    #comentario #exclamation {
        display: block !important;
        cursor: pointer;
        width: 10%;
        max-width: 30px;
    }

    #nome-usuario, #data-post, #denunciar{
        width: 100%;
    }
}

@media (max-width: 600px){
    #conteudo {
        width: 90%;
        margin: auto;
    }
    #menu-estacoes {
        display: none;
    }
    #menu-hamburger {
        display: block !important;
        width: 7.5%;
        height: 50px;
        margin-left: 2.5%;
        cursor: pointer;
    }
    #linha1,
    #linha2,
    #linha3 {
        width: 100%;
        height: 16.6%;
        background-color: black;
        margin-top: 10%;
    }
    #faixa {
        display: none;
    }
}