@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
}

#cardReclamacao{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 80%; */
    padding: 3%;
    border-radius: 20px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    box-shadow: -1px 0px 31px -1px rgba(143, 141, 141, 0.75);
}

#cardReclamacao h1{
    color: #58c078;
    font-family: 'Raleway', sans-serif;
}

.botao{
    width: 15%;
    max-width: 120px;
    min-width: 100px;
    height: 30%;
    min-height: 30px;
    max-height: 35px;
    background-color: #58c078;
    color: white;
    border-radius: 20px;
    border: 1px solid #58c078;
    position: static;
}

.botao:hover{
    background-color: #eee;
    border: 2px solid #58c078;
    color: #58c078;
}

#botoesRadio{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#botoesRadio input{
    margin-right: 10px;
    display: none;
}

#botoesRadio label{
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: #58c078;
    color: white;
    border-radius: 10px;
    border: 2px solid #58c078;
}

.selecionado {
    background-color: white !important;
    color: #58c078 !important;
}

.motivo-reclamacao{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    border-radius: 20px;
    padding: 5px;
}

.descricao-reclamacao{
    margin-top: 5px;
    width: 100%;
    height: 50%;
    padding: 10px;
    border-radius: 10px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    resize: none;
}

form {
    width: 60%;
}

#formCarro,
#formLinha,
#formEstacao,
#problemaCarro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formEstacao label{
    margin-right: 10px;
}

#formEstacao select{
    margin-right: 10px;
}

option{
    text-align: center;
}

#numeroCarro{
    text-align: center;
}

.descricao-outro{
    display: none;
}

.caixaOutro{
    display: block !important;
    margin-top: 10px;
    width: 215px;;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    resize: none;
}



@media (max-width: 1050px) {
    #botoesRadio {
        flex-direction: column;
    }
}

#radio-movimentacao input, label{
    padding: 5px;
}
