<link rel="stylesheet" href="css/login_cadastro.css">

<div class="containerLoginCadastro">

    <div id="botoes-login-cadastro">
        <div class="btn-cadrastro" onclick="mudarConteudo('login', '#conteudo', 'noticia')">
            <input type="radio" name="login-cadastro"  id="entrar" value="entrar">
            <label for="entrar" class="cursor">Entrar</label>
        </div>
    
        <div class="btn-cadrastro" onclick="mudarConteudo('cadastro', '#conteudo', 'noticia')">
            <input type="radio" name="login-cadastro"  id="cadastrar" value="cadastrar" checked>
            <label for="cadastrar" class="cursor">Cadastrar</label>
        </div>
    </div>

    <div class="left-cadrastro">
        <div class="card-cadrastro">
            <h1>Cadrastrar</h1>
            <div class="textfield">
                <label for="usuario">Nome</label>
                <input type="text" name="nome" placeholder="Nome">
            </div>
            <div class="textfield">
                <label for="usuario">E-mail</label>
                <input type="email" name="email" placeholder="E-mail">
            </div>
            <div class="textfield">
                <label for="usuario">CPF</label>
                <input type="text" name="email" placeholder="CPF">
            </div>
            <div class="textfield">
                <label for="Senha">Senha</label>
                <input type="password" name="senha" placeholder="Senha">
            </div>
            
            <button class="btn-cadrastro">Cadrastrar</button>
        </div>
    </div>
</div>
