<link rel="stylesheet" href="css/estacao.css">

<div id="info_estacao">

    <div id="nome">
        <div id="titulo">
            <img src="/images/600px-Logo_ViaMobilidade_(branco).png" alt="logo">
            <h3>Estação {{estacao.nome}}</h3>
        </div>
        <hr id="quebra">
    </div>

    <div id="informacoes">
        <div id="sobre">
            <p>Localização: {{estacao.localizacao}}</p>
            <p>Horário de funcionamento: Todos os dias das 4h00 à 0h00</p>
            <p>Saídas: </p>
            <p>Status de movimentação: muito cheio (atualizado a 30 min)</p>
        </div>

        <div id="caracteristicas">
            {{#estacao.banheiro}}
            <img src="images/banheiro.png" alt="">
            {{/estacao.banheiro}}

            {{#estacao.elevador}}
            <img src="images/elevador.png" alt="">
            {{/estacao.elevador}}

            {{#estacao.terminal_interurbano}}
            <img src="images/terminal-interurbano-de-onibus.png" alt="">
            {{/estacao.terminal_interurbano}}

            {{#estacao.terminal_urbano}}
            <img src="images/terminal-urbano-de-onibus.png" alt="">
            {{/estacao.terminal_urbano}}

            {{#estacao.transferencia_interna}}
            <img src="images/transferencia-interna-gratuita.png" alt="">
            {{/estacao.transferencia_interna}}

            {{#estacao.bicicletario}}
            <img src="images/bicicletario.png" alt="">
            {{/estacao.bicicletario}}

            {{#estacao.banheiro_acessivel}}
            <img src="images/banheiro-acessivel.png" alt="">
            {{/estacao.banheiro_acessivel}}

            {{#estacao.estacao_acessivel}}
            <img src="images/estacao-acessivel.png" alt="">
            {{/estacao.estacao_acessivel}}

            {{#estacao.rampa}}
            <img src="images/rampa.png" alt="">
            {{/estacao.rampa}}

            {{#estacao.transposicao_plataformas}}
            <img src="images/transposicao-de-plataformas.png" alt="">
            {{/estacao.transposicao_plataformas}}

            {{#estacao.escadas_rolantes}}
            <img src="images/escadas-rolantes.png" alt="">
            {{/estacao.escadas_rolantes}}

            {{#estacao.acesso_elevador}}
            <img src="images/acesso-elevador.png" alt="">
            {{/estacao.acesso_elevador}}

            {{#estacao.lanchonete}}
            <img src="images/lanchonete.png" alt="">
            {{/estacao.lanchonete}}

            {{#estacao.emporio}}
            <img src="images/emporio.png" alt="">
            {{/estacao.emporio}}

            {{#estacao.caixa_eletronico}}
            <img src="images/caixa-eletronico.png" alt="">
            {{/estacao.caixa_eletronico}}

            {{#estacao.calcados}}
            <img src="images/calcados.png" alt="">
            {{/estacao.calcados}}

            {{#estacao.telefone_p_surdos}}
            <img src="images/telefone-para-surdos.png" alt="">
            {{/estacao.telefone_p_surdos}}

            {{#estacao.piso_tatil}}
            <img src="images/piso-tatil.png" alt="">
            {{/estacao.piso_tatil}}

            {{#estacao.tranferencia_gratuita}}
            <img src="images/tranferencia-gratuita-cptm-metro.png" alt="">
            {{/estacao.tranferencia_gratuita}}

            {{#estacao.acessorios}}
            <img src="images/acessorios.png" alt="">
            {{/estacao.acessorios}}

            {{#estacao.farmacia}}
            <img src="images/farmacia.png" alt="">
            {{/estacao.farmacia}}

            {{#estacao.rota_acessivel}}
            <img src="images/rota-acessivel.png" alt="">
            {{/estacao.rota_acessivel}}

            {{#estacao.achados_perdidos}}
            <img src="images/achados-e-perdidos.png" alt="">
            {{/estacao.achados_perdidos}}
        </div>

        {{#comentarios}}
        {{#comentarios.length}}
        
        <div id="comentario">
            <img src="images/user1.png" alt="foto de perfil" id="foto-perfil">
            <div id="caixa-comentario">
                <p>
                    {{descricao}}
                </p>
                <div id="comentario-footer">
                    <div id="nome-usuario">
                        <p>{{usuario}}</p>
                    </div>
                    <div id="data-post">
                        <p>{{tempo}}</p>
                    </div>
                    <div id="denunciar">
                        <p><a href="#">Denunciar comentário</a></p>
                    </div>
                    <div id="botoes">
                        <img id="bom" src="/images/green-face.svg" alt="">
                        <img id="neutro" src="images/yellow-face.svg" alt="">
                        <img id="ruim" src="images/red-face.svg" alt="">
                    </div>
                </div>
            </div>
            <img id="exclamation" src="images/exclamation.svg" alt="" style="display: none;"
                onclick="mostrarInfo(this)">
        </div>
        
        
        
        {{/comentarios.length}}
        {{/comentarios}}
    </div>
</div>