<h1>INFORMAÇÕES SOBRE A ESTAÇÃO {{valores.nome_estacao}}</h1>
<p>Localização: {{valores.localizacao}}</p>

<div id="caracteristicas">
    {{#valores.banheiro}}
        <img src="images/banheiro.png" alt="" width="10%" height="auto">
    {{/valores.banheiro}}
    
    {{#valores.elevador}}
        <img src="images/elevador.png" alt="" width="10%" height="auto">
    {{/valores.elevador}}
    
    {{#valores.terminal_interurbano}}
        <img src="images/terminal_interurbano.png" alt="" width="10%" height="auto">
    {{/valores.terminal_interurbano}}
    
    {{#valores.terminal_urbano}}
        <img src="images/terminal_urbano.png" alt="" width="10%" height="auto">
    {{/valores.terminal_urbano}}
    
    {{#valores.transferencia_interna}}
        <img src="images/transferencia_interna.png" alt="" width="10%" height="auto">
    {{/valores.transferencia_interna}}
    
    {{#valores.bicicletario}}
        <img src="images/bicicletario.png" alt="" width="10%" height="auto">
    {{/valores.bicicletario}}
    
    {{#valores.banheiro_acessivel}}
        <img src="images/banheiro_acessivel.png" alt="" width="10%" height="auto">
    {{/valores.banheiro_acessivel}}
    
    {{#valores.estacao_acessivel}}
        <img src="images/estacao_acessivel.png" alt="" width="10%" height="auto">
    {{/valores.estacao_acessivel}}
    
    {{#valores.rampa}}
        <img src="images/rampa.png" alt="" width="10%" height="auto">
    {{/valores.rampa}}
    
    {{#valores.transposicao_plataformas}}
        <img src="images/transposicao_plataformas.png" alt="" width="10%" height="auto">
    {{/valores.transposicao_plataformas}}
    
    {{#valores.escadas_rolantes}}
        <img src="images/escadas_rolantes.png" alt="" width="10%" height="auto">
    {{/valores.escadas_rolantes}}
    
    {{#valores.acesso_elevador}}
        <img src="images/acesso_elevador.png" alt="" width="10%" height="auto">
    {{/valores.acesso_elevador}}
    
    {{#valores.lanchonete}}
        <img src="images/lanchonete.png" alt="" width="10%" height="auto">
    {{/valores.lanchonete}}
    
    {{#valores.emporio}}
        <img src="images/emporio.png" alt="" width="10%" height="auto">
    {{/valores.emporio}}
    
    {{#valores.caixa_eletronico}}
        <img src="images/caixa_eletronico.png" alt="" width="10%" height="auto">
    {{/valores.caixa_eletronico}}
    
    {{#valores.calcados}}
        <img src="images/calcados.png" alt="" width="10%" height="auto">
    {{/valores.calcados}}
    
    {{#valores.telefone_p_surdos}}
        <img src="images/telefone_p_surdos.png" alt="" width="10%" height="auto">
    {{/valores.telefone_p_surdos}}
    
    {{#valores.piso_tatil}}
        <img src="images/piso_tatil.png" alt="" width="10%" height="auto">
    {{/valores.piso_tatil}}
    
    {{#valores.tranferencia_gratuita}}
        <img src="images/tranferencia_gratuita.png" alt="" width="10%" height="auto">
    {{/valores.tranferencia_gratuita}}
    
    {{#valores.acessorios}}
        <img src="images/acessorios.png" alt="" width="10%" height="auto">
    {{/valores.acessorios}}
    
    {{#valores.farmacia}}
        <img src="images/farmacia.png" alt="" width="10%" height="auto">
    {{/valores.farmacia}}
    
    {{#valores.rota_acessivel}}
        <img src="images/rota_acessivel.png" alt="" width="10%" height="auto">
    {{/valores.rota_acessivel}}
    
    {{#valores.achados_perdidos}}
        <img src="images/achados_perdidos.png" alt="" width="10%" height="auto">
    {{/valores.achados_perdidos}}
</div>
