<link rel="stylesheet" href="css/home.css">
{{>partials/header}}

<div class="content">

    <div class="slides">
        <input type="radio" name="radio" id="slide1" checked>
        <input type="radio" name="radio" id="slide2">
        <input type="radio" name="radio" id="slide3">
        <input type="radio" name="radio" id="slide4">
        <input type="radio" name="radio" id="slide5">
    
        <div class="slide s1">
            <img id="carrossel1" src="images/noticia1.jpg" alt="">
        </div>
    
        <div class="slide">
            <img id="carrossel2" src="images/noticia2.jpg" alt="">
        </div>
    
        <div class="slide">
            <img id="carrossel3" src="images/noticia3.jpg" alt="">
        </div>
    
        <div class="slide">
            <img id="carrossel4" src="images/noticia4.jpg" alt= "">
        </div>
    
        <div class="slide">
            <img id="carrossel5" src="images/noticia5.jpg" alt="">
        </div>
    </div>
    
    <div class="navigation">

        <label class="bar" for="slide1"></label>
        <label class="bar" for="slide2"></label>
        <label class="bar" for="slide3"></label>
        <label class="bar" for="slide4"></label>
        <label class="bar" for="slide5"></label>
    </div>
</div>

<div id="principal">

    <div id="menu-hamburger" style="display: none;" onclick="mostrarMenu()">
        <div id="linha1"></div>
        <div id="linha2"></div>
        <div id="linha3"></div>
    </div>
    <nav id="menu-estacoes">

        <div id="faixa"></div>

        <div id="estacao">       
            <a href="#" onclick="mudarConteudo('estacao', '#conteudo', 'osasco', 'osasco')">
                <img src="images/bola-estacao.png" alt="simbolo da estação">
                <p>Osasco</p>
            </a>
        </div>
        <div id="estacao">
            <a href="#" onclick="mudarConteudo('estacao', '#conteudo', 'altino', 'presidente-altino')">
                <img src="images/bola-estacao.png" alt="simbolo da estação">
                <p>Presidente Altino</p>
            </a>
        </div>
        <div id="estacao">
            <a href="#" onclick="mudarConteudo('estacao', '#conteudo', 'ceasa', 'ceasa')">
                <img src="images/bola-estacao.png" alt="simbolo da estação">
                <p>Ceasa</p>
            </a>
        </div>
        <div id="estacao">
            <a href="#" onclick="mudarConteudo('estacao', '#conteudo', 'lobos', 'vila-lobos-jaguare')">
                <img src="images/bola-estacao.png" alt="simbolo da estação">
                <p>Vila Lobos jaguaré</p>
            </a>
        </div>
        <div id="estacao">
            <a href="#" onclick="mudarConteudo('estacao', '#conteudo', 'universitaria', 'cidade-universitaria')">
                <img src="images/bola-estacao.png" alt="simbolo da estação">
                <p>Cidade Universitária</p>
            </a>
        </div>
        <div id="estacao">
            <a href="#" onclick="mudarConteudo('estacao', '#conteudo', 'pinheiros', 'pinheiros')">
                <img src="images/bola-estacao.png" alt="simbolo da estação">
                <p>Pinheiros</p>
            </a>
        </div>
        <div id="estacao">
            <a href="#" onclick="mudarConteudo('estacao', '#conteudo', 'hebraica', 'hebraica-reboucas')">
                <img src="images/bola-estacao.png" alt="simbolo da estação">
                <p>Hebraica Rebouças</p>
            </a>
        </div>
        <div id="estacao">
            <a href="#" onclick="mudarConteudo('estacao', '#conteudo', 'jardim', 'cidade-jardim')">
                <img src="images/bola-estacao.png" alt="simbolo da estação">
                <p>Cidade Jardim</p>
            </a>
        </div>
        <div id="estacao">
            <a href="#" onclick="mudarConteudo('estacao', '#conteudo', 'olimpia', 'vila-olimpia')">
                <img src="images/bola-estacao.png" alt="simbolo da estação">
                <p>Vila Olímpia</p>
            </a>
        </div>
        <div id="estacao">
            <a href="#" onclick="mudarConteudo('estacao', '#conteudo', 'berrini', 'berrini')">
                <img src="images/bola-estacao.png" alt="simbolo da estação">
                <p>Berrini</p>
            </a>
        </div>
        <div id="estacao">
            <a href="#" onclick="mudarConteudo('estacao', '#conteudo', 'morumbi', 'morumbi')">
                <img src="images/bola-estacao.png" alt="simbolo da estação">
                <p>Morumbi</p>
            </a>
        </div>
        <div id="estacao">
            <a href="#" onclick="mudarConteudo('estacao', '#conteudo', 'julieta', 'granja-julieta')">
                <img src="images/bola-estacao.png" alt="simbolo da estação">
                <p>Granja Julieta</p>
            </a>
        </div>
        <div id="estacao">
            <a href="#" onclick="mudarConteudo('estacao', '#conteudo', 'dias', 'joao-dias')">
                <img src="images/bola-estacao.png" alt="simbolo da estação">
                <p>João Dias</p>
            </a>
        </div>
        <div id="estacao">
            <a href="#" onclick="mudarConteudo('estacao', '#conteudo', 'amaro', 'santo-amaro')">
                <img src="images/bola-estacao.png" alt="simbolo da estação">
                <p>Santo Amaro</p>
            </a>
        </div>
        <div id="estacao">
            <a href="#" onclick="mudarConteudo('estacao', '#conteudo', 'socorro', 'socorro')">
                <img src="images/bola-estacao.png" alt="simbolo da estação">
                <p>Socorro</p>
            </a>
        </div>
        <div id="estacao">
            <a href="#" onclick="mudarConteudo('estacao', '#conteudo', 'jurubatuba', 'jurubatuba')">
                <img src="images/bola-estacao.png" alt="simbolo da estação">
                <p>Jurubatuba</p>
            </a>
        </div>
        <div id="estacao">
            <a href="#" onclick="mudarConteudo('estacao', '#conteudo', 'autodromo', 'autodromo')">
                <img src="images/bola-estacao.png" alt="simbolo da estação">
                <p>Autódromo</p>
            </a>
        </div>
        <div id="estacao">
            <a href="#" onclick="mudarConteudo('estacao', '#conteudo', 'primavera', 'primavera-interlagos')">
                <img src="images/bola-estacao.png" alt="simbolo da estação">
                <p>Primavera Interlagos</p>
            </a>
        </div>
        <div id="estacao">
            <a href="#" onclick="mudarConteudo('estacao', '#conteudo', 'grajau', 'grajau')">
                <img src="images/bola-estacao.png" alt="simbolo da estação">
                <p>Grajaú</p>
            </a>
        </div>
        <div id="estacao">
            <a href="#" onclick="mudarConteudo('estacao', '#conteudo', 'mendes', 'mendes-vila-natal')">
                <img src="images/bola-estacao.png" alt="simbolo da estação">
                <p>Mendes Vila Natal</p>
            </a>
        </div>
        <div id="estacao">
            <a href="#"  onclick="mudarConteudo('estacao', '#conteudo', 'varginha', 'varginha')">
                <img src="images/bola-estacao.png" alt="simbolo da estação">
                <p>Varginha</p>
            </a>
        </div>
    </nav>
    
    <div id="conteudo">
        <div id="status">
            <div id="imagem">
                <img src="images/triste.png" alt="">
            </div>
            <div id="statush1">
                <h1>Status da linha: Ruim.</h1>
            </div>
        </div>
        <div id="informacoes">

            <form id="caixa-reclamar" action="">
                <div id="foto-comentario">
                    <img src="images/user4.png" alt="">
                    <textarea name="reclamacao" id="reclamacao" cols="100" rows="2" placeholder="Diga algo."></textarea>
                </div>
                <button type="submit" value="enviar">Enviar</button>
            </form>

            <div id="comentario">
                <img src="images/user1.png" alt="foto de perfil" id="foto-perfil">
                <div id="caixa-comentario">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima asperiores perspiciatis facilis, quas cumque consequuntur omnis excepturi earum cupiditate obcaecati, corrupti doloribus atque non maiores? Quos voluptate laboriosam reprehenderit delectus!
                    </p>
                    <div id="comentario-footer">
                        <div id="nome-usuario">
                            <p>Nome do usuário</p>
                        </div>
                        <div id="data-post">
                            <p>14/03/2023 17:24</p>
                        </div>
                        <div id="denunciar">
                            <p><a href="#">Denunciar comentário</a></p>
                        </div>
                        <div id="botoes">
                            <img id="bom" src="/images/green-face.svg" alt="">
                            <img id="neutro" src="images/yellow-face.svg" alt="">
                            <img id="ruim" src="images/red-face.svg" alt="">
                        </div>
                    </div>
                </div>
                <img id="exclamation" src="images/exclamation.svg" alt="" style="display: none;" onclick="mostrarInfo(this)">
            </div>
            <div id="comentario">
                <img src="images/user2.png" alt="foto de perfil" id="foto-perfil">
                <div id="caixa-comentario">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima asperiores perspiciatis facilis, quas cumque consequuntur omnis excepturi earum cupiditate obcaecati, corrupti doloribus atque non maiores? Quos voluptate laboriosam reprehenderit delectus!
                    </p>
                    <div id="comentario-footer">
                        <div id="nome-usuario">
                            <p>Nome do usuário</p>
                        </div>
                        <div id="data-post">
                            <p>14/03/2023 17:27</p>
                        </div>
                        <div id="denunciar">
                            <p><a href="#">Denunciar comentário</a></p>
                        </div>
                        <div id="botoes">
                            <img id="bom" src="/images/green-face.svg" alt="">
                            <img id="neutro" src="images/yellow-face.svg" alt="">
                            <img id="ruim" src="images/red-face.svg" alt="">
                        </div>
                    </div>
                </div>
                <img id="exclamation" src="images/exclamation.svg" alt="" style="display: none;" onclick="mostrarInfo(this)">
            </div>
            <div id="comentario">
                <img src="images/user3.png" alt="foto de perfil" id="foto-perfil">
                <div id="caixa-comentario">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima asperiores perspiciatis facilis, quas cumque consequuntur omnis excepturi earum cupiditate obcaecati, corrupti doloribus atque non maiores? Quos voluptate laboriosam reprehenderit delectus!
                    </p>
                    <div id="comentario-footer">
                        <div id="nome-usuario">
                            <p>Nome do usuário</p>
                        </div>
                        <div id="data-post">
                            <p>14/03/2023 17:31</p>
                        </div>
                        <div id="denunciar">
                            <p><a href="#">Denunciar comentário</a></p>
                        </div>
                        <div id="botoes">
                            <img id="bom" src="/images/green-face.svg" alt="">
                            <img id="neutro" src="images/yellow-face.svg" alt="">
                            <img id="ruim" src="images/red-face.svg" alt="">
                        </div>
                    </div>
                </div>
                <img id="exclamation" src="images/exclamation.svg" alt="" style="display: none;" onclick="mostrarInfo(this)">
            </div>
        
        </div>
    </div>
</div>

{{>partials/footer}}