{{>partials/headerHome}}

<div class="home">

    <div class="container">
        <div class="instrucoes reveal">
            <div class="imagens"><img src="images/lua2.jpg" alt=""></div>

            <div class="textos">Pesquise serviços perto de você</div>
        </div>

        <div class="instrucoes reveal">
            <div class="textos">TEXTO 2</div>
            <div class="imagens"><img src="images/lua2.jpg" alt=""></div>
        </div>

        <div class="instrucoes reveal">
            <div class="imagens"><img src="images/lua2.jpg" alt=""></div>

            <div class="textos">TEXTO 3</div>
        </div>

        <div class="instrucoes reveal">
            <div class="textos">TEXTO 4</div>
            <div class="imagens"><img src="images/lua2.jpg" alt=""></div>
        </div>

    </div>

</div>

{{>partials/footerHome}}