<link rel="stylesheet" href="/css/denuncia.css">
{{>partials/header}}

<div id="conteudo">
    {{#toast}}
        {{^sucesso}}
        <div class="alerta falha">
            <p>{{toast}}</p>
        </div>
        {{/sucesso}}
    
        {{#sucesso}}
        <div class="alerta sucesso">
            <p>{{toast}}</p>
        </div>
        {{/sucesso}}
    {{/toast}}
    <div id="status">
        <div id="imagem">
            <img src="/images/{{status.imagem}}" alt="">
        </div>
        <div id="statush1">
            <h1>Status da linha: {{status.estado}}.</h1>
        </div>
    </div>
    <div id="informacoes">

        {{#comentarios}}
        {{#comentarios.length}}
        <div id="comentario">
            <a href="/usuario/{{cod_usuario}}"><img src="/images/users/{{foto_perfil}}" alt="foto de perfil" id="foto-perfil"></a>
            <div id="caixa-comentario">
                <div class="tags">
                    <div class="tag">{{tipo}}</div>
                    {{#estacao}}
                    <div class="tag">{{estacao}}</div>
                    {{/estacao}}
                    {{#carro}}
                    <div class="tag">{{carro}}</div>
                    {{/carro}}
                </div>
                <p>
                    {{descricao}}
                </p>
                <div id="comentario-footer">
                    <div id="nome-usuario">
                        <p>{{usuario}}</p>
                    </div>
                    <div id="data-post">
                        <p>{{tempo}}</p>
                    </div>
                    <div id="denunciar">
                        <p><a onclick="mostraCardDenuncia(this.closest('#comentario'))" >Denunciar comentário</a></p>
                    </div>
                    <div id="botoes">
                        <img id="bom" src="/images/green-face.svg" alt="">
                        <img id="neutro" src="/images/yellow-face.svg" alt="">
                        <img id="ruim" src="/images/red-face.svg" alt="">
                    </div>
                </div>
            </div>
            <img id="exclamation" src="/images/exclamation.svg" alt="" style="display: none;" onclick="mostrarInfo(this)">

            <div id="card" style="display: none;">
                <form id="card-denuncia" action="/denunciar/{{codigo}}" method="POST">
                    <div id="titulo-card"><h4>Denúncia de comentário</h4></div>
                    <br>
                    <div id="container">
                        <p>Motivo da denúncia:</p>
                        <div class="motivos">
                            <label id="lbl">
                                <input type="radio" class="radios botoes-margin" name="botoes" onclick="esconde(this.closest('#card'))" id="radio-conteudo" value="Conteúdo impróprio"> 
                                Conteúdo impróprio
                            </label>
                            <label id="lbl">
                                <input type="radio" class="radios" name="botoes" onclick="esconde(this.closest('#card'))" id="radio-spam" value="Spam">
                                Spam
                            </label>
                        </div>
                        
                        <div class="motivos">
                            
                            <label id="lbl">
                                <input type="radio" class="radios botoes-margin" name="botoes" onclick="esconde(this.closest('#card'))" id="radio-noticia" value="Notícia falsa">
                                Notícia falsa
                            </label> 
                            <label id="lbl">
                                <input type="radio" class="radios" name="botoes" onclick="esconde(this.closest('#card'))" id="radio-discurso" value="Discurso de ódio">
                                Discurso de ódio
                            </label>
                        </div>
            
                        <div class="motivos" id="outro">
                            <div class="outro-motivo">                                    
                                <label id="lbl">
                                    <input type="radio" class="radios" id="radio-outro" name="botoes" onclick="exibe(this.closest('#card'))" value="Outro">
                                    Outro
                                </label>
                            </div>
                            <textarea id="outro-motivo-text" class="" name="outro_motivo"></textarea>
                        </div>
                    </div>
                    <br>
                    <button id="botao-denuncia" class="botao" type="submit">Denunciar</button>
                </form>
            
            </div>
        </div>



        {{/comentarios.length}}
        {{/comentarios}}

    </div>
</div>
</div>
</div>

{{>partials/footer}}