{{! <title>Sobre nós</title> }}
<link rel="stylesheet" href="css/sobreNos.css">



<div id="corpo">
    <div id="sobreNos">
        <h1>Sobre nós</h1>
        <img src="images/sobreNos.jpg" alt="Sobre nós" id="imagemEquipe">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam ullam rerum, corrupti, vel accusantium esse possimus fuga aperiam assumenda officia rem beatae sint accusamus eligendi nihil dolor ipsa laudantium sapiente. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam minus at cum corporis dolores non possimus libero ut, illo, quam eveniet similique maiores alias vero! At velit expedita error et?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi exercitationem nesciunt accusamus! Non autem esse eum excepturi corporis alias? Iusto nam, optio dolorum totam sequi nostrum voluptates sit reprehenderit labore?
        </p>
    
        <hr class="quebra">
    
        <h1>Missão</h1>
        <img src="images/target (1).png" alt="Missão" id="missao">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse saepe autem perspiciatis, iure praesentium inventore non minus, soluta repellendus aut debitis consequatur, alias eaque mollitia vel? Tempore, voluptate laborum! Modi.</p>
    
        <hr class="quebra">
    
        <h1>Visão</h1>
        <img src="images/binoculars.png" alt="Visão" id="visao">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione optio ea nulla, harum magni placeat, rem suscipit eaque, iusto sequi illum fugiat distinctio soluta! Impedit eius quaerat maxime excepturi dignissimos!
        </p>
    
        <hr class="quebra">
    
        <h1>Valores</h1>
        <img src="images/balance.png" alt="Valores" id="valores">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam perferendis harum consectetur, fugiat rem accusamus amet, enim quas impedit molestias ratione suscipit labore odio inventore recusandae porro quos, cupiditate at?</p>
    </div>
</div>

