<title>Sobre nós</title>
<link rel="stylesheet" href="/css/sobre.css">

{{>partials/header}}

<div class="oi">
    <h1>Conheça Sobre a Distrik</h1>
</div>
<p></p>
<div class="empresa">
    <div class="empresa2">
        <p>Criamos a agritec a fim de resolver
            problemas reais que o agro no geral sofre, que são as pragas. Criamos de forma tecnológicas a resolução de
            problemas das pragas nas plantações.Com nossos conhecimentos obtidos durante estudos, implementamos no
            projeto e estamos fazendo acontecer de forma gradativa. Temos como objetivo melhorar no geral a agropecuária
            brasileira, facilitar de todas as formas possíveis o trabalho do agricultor no controle de pragas.
        </p>
    </div>
    <img src="images/predios.webp" width="500px" alt="">
</div>
<div class="hr">
    <hr>
</div>
<div class="map">
    <img src="images/celular.png" width="500px" alt="">
    <div class="par">
        <p>Implementamos no sistema ideias que irá adiantar bastante a vida do agricultor,
            pensamos em todas as circunstâncias que o agricultor tem até chegar na solução do problema e baseado nisso
            exploramos ideias para encurtar o caminho da resolução deste grande problema da área agrícola. O produtor
            terá disponível um atendente remoto para que possa atender ele de forma rápida e com isso fica óbvio que o o
            problema dele será detectado mais rápido e que ele possa agir mais rápido pra que o problema não se
            prolifere
        </p>
    </div>
</div>

{{>partials/footer}}