<link rel="stylesheet" href="/css/sobreNos.css">
{{>partials/header2}}
<div id="conteudo">

    {{#toast}}
        {{^sucesso}}
        <div class="alerta falha">
            <p>{{toast}}</p>
        </div>
        {{/sucesso}}

        {{#sucesso}}
        <div class="alerta sucesso">
            <p>{{toast}}</p>
        </div>
        {{/sucesso}}
    {{/toast}}

    <div id="corpo">
        <div id="sobreNos">
            <h1>Sobre nós</h1>
            <img src="/images/sobreNos.png" alt="Sobre nós" id="imagemEquipe">
            <p>AlerTrem é uma plataforma que oferece informações atualizadas sobre a linha 9 esmeralda, que é operada pela empresa Via Mobilidade na cidade de São Paulo. O objetivo é facilitar a vida dos usuários da linha, que podem consultar dados sobre as estações, fazer comentários, reclamações e reports, e ficar por dentro das últimas notícias sobre a linha. Nós usamos esses reports dados pelos clientes da linha para informar outros usuários sobre a situação atual de linhas e estações da linha 9.
            </p>
        
            <hr class="quebra">
        
            <h1>Missão</h1>
            <img src="/images/target (1).png" alt="Missão" id="missao">
            <p>Nossa missão é oferecer suporte aos usuários das linhas de transporte, garantindo que estejam sempre informados sobre quaisquer eventos inesperados que possam afetar sua jornada diária. Decidimos criar esse projeto com o objetivo de fornecer informações precisas e em tempo real sobre os serviços de transporte público, a fim de melhorar a experiência dos usuários.</p>
        
            <hr class="quebra">
        
            <h1>Visão</h1>
            <img src="/images/binoculars.png" alt="Visão" id="visao">
            <p>Nosso objetivo é criar uma comunidade online de colaboração entre todos os usuários dessa linha, facilitando a comunicação de problemas na linha do trem entre os mesmos, permitindo assim que outros clientes tenham a possibilidade de alterar sua jornada e optar por outro tipo de transporte.</p>
        
            <hr class="quebra">
        
            <h1>Valores</h1>
            <img src="/images/balance.png" alt="Valores" id="valores">
            <p>A motivação principal da nossa empresa é fornecer informações precisas, rápidas e eficientes sobre quaisquer imprevistos relacionados ao transporte público. Comprometemo-nos a tratar todas as informações fornecidas aos nossos usuários com a máxima responsabilidade e compromisso, sempre priorizando a transparência e integridade em nossas operações.</p>
        </div>
    </div>

</div>
</div>
</div>

{{>partials/footer}}