<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>

    <div class="banner fadeOutOnScroll" id="banner">

        <header class="videoContainer">

            <video autoplay muted loop>
                <source src="images/PI.mp4" type="video/mp4" />
            </video>

            <div class="navegacao">
                <div class="inicio">
                    <a href="home">DISTRIK</a>
                </div>
    
                <div class="menu">
                    <nav>
                        <ul>
                            <li class="active"><a href="login"><span>LOGIN</span></a></li>
                            <li><a href="cadastro"><span>CADASTRO</span></a> </li>
                            <li><a href=""><span>FALE CONOSCO</span></a></li>
                            <li><a href=""><span>SOBRE NÓS</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
       

        <div class="barraDePesquisa">
            
            <input type="text" class="icon" value placeholder="Digite sua localização">
        </div>


    </div>