<div class="content">

    <div class="slides">
        <input type="radio" name="radio" id="slide1" checked>
        <input type="radio" name="radio" id="slide2">
        <input type="radio" name="radio" id="slide3">
        <input type="radio" name="radio" id="slide4">
        <input type="radio" name="radio" id="slide5">

        <div class="slide s1">
            <img id="carrossel1" src="/images/noticia1.png" alt="">
        </div>

        <div class="slide">
            <img id="carrossel2" src="/images/noticia2.png" alt="">
        </div>

        <div class="slide">
            <img id="carrossel3" src="/images/noticia3.png" alt="">
        </div>

        <div class="slide">
            <img id="carrossel4" src="/images/noticia4.png" alt="">
        </div>

        <div class="slide">
            <img id="carrossel5" src="/images/noticia5.png" alt="">
        </div>
    </div>

    <div class="navigation">

        <label class="bar" for="slide1"></label>
        <label class="bar" for="slide2"></label>
        <label class="bar" for="slide3"></label>
        <label class="bar" for="slide4"></label>
        <label class="bar" for="slide5"></label>
    </div>
</div>