<footer>
    <div class="esquerda">
        <a href="home"> <img src="images/iconeBranco.png" width="30px"> </a>

    </div>

    <div class="meio">

        <div class="copyright">
            <img src="images/iconCopyrightBranco.png" width="25px"><p>COPYRIGHT 2022</p>
        </div>

        <div class="contatos">
            <img src="images/iconEmailBranco.png" width="25px" class="email"><a href="#" class="email">contato@distrik.com</a> 
                           
            <img src="images/iconWhatsappBranco.png" width="25px"><a href="https://api.whatsapp.com/send?phone=5511933501184&text=Ol%C3%A1%20Distrik!" target="_blank">(11) 93350-1184</a>
        </div>
            
    </div>


    <div class="direita">
        <p><a href="login">LOGIN</a></p>
        <p><a href="cadastro">CADASTRO</a></p>
        <p><a href="#">SOBRE NÓS</a></p>
    </div>
</footer>

<script src="javascript/home.js"></script>
</body>
</html>