<link rel="stylesheet" href="/css/footer.css">

<footer>
    <div class="esquerda">
        <a href="#"><img src="/images/p_.png" width="70px"></a>
    </div>
    <div class="meio">
        <div class="copyright">
            <a href="#"><img src="/images/letra-c.png" width="25px"></a>
            COPYRINGHT 2022
        </div>
        <div class="fale-conosco">
            <p>FALE CONOSCO</p>
        </div>
        <div class="contatos">
            <a target="_blank" href="https://mail.google.com/mail/u/0/?ogbl#inbox"><img
                    src="/images/correspondencia.png" width="25px">contato@distrik.com</a>
            <a target="_blank"
                href="https://api.whatsapp.com/send/?phone=%2B5511933501184&text&type=phone_number&app_absent=0"><img
                    src="/images/telefone.png" width="25px">(11) 93350-1184
                <link rel="stylesheet" href="">
            </a>
        </div>
    </div>
    <div class="direita">
        <p>INICIO</p>
        <p>SOBRE NÓS</p>
    </div>
</footer>
</body>
</html>