<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5c3542a6a8.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    HEADER AQUI

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cadastro">Cadastro</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/contato">Contato</a></li>
        <li><a href="/empresa">Empresa</a></li>
        <li><a href="/resultados">Resultados</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="oi">Vai dar errado aqui</a></li>
    </ul>