<div id="principal">

    <div id="menu-hamburger" style="display: none;" onclick="mostrarMenu()">
        <div id="linha1"></div>
        <div id="linha2"></div>
        <div id="linha3"></div>
    </div>
    <nav id="menu-estacoes">

        <div id="faixa"></div>

        <div id="estacao"  onclick="desativaMenu()">
            <a href="/estacao?estacao=osasco">
                <img src="/images/bola-estacao.png" alt="simbolo da estação">
                <p>Osasco</p>
            </a>
        </div>
        <div id="estacao"  onclick="desativaMenu()">
            <a href="/estacao?estacao=presidente altino">
                <img src="/images/bola-estacao.png" alt="simbolo da estação">
                <p>Presidente Altino</p>
            </a>
        </div>
        <div id="estacao"  onclick="desativaMenu()">
            <a href="/estacao?estacao=ceasa">
                <img src="/images/bola-estacao.png" alt="simbolo da estação">
                <p>Ceasa</p>
            </a>
        </div>
        <div id="estacao"  onclick="desativaMenu()">
            <a href="/estacao?estacao=vila lobos jaguare">
                <img src="/images/bola-estacao.png" alt="simbolo da estação">
                <p>Vila Lobos jaguaré</p>
            </a>
        </div>
        <div id="estacao"  onclick="desativaMenu()">
            <a href="/estacao?estacao=cidade universitaria">
                <img src="/images/bola-estacao.png" alt="simbolo da estação">
                <p>Cidade Universitária</p>
            </a>
        </div>
        <div id="estacao"  onclick="desativaMenu()">
            <a href="/estacao?estacao=pinheiros">
                <img src="/images/bola-estacao.png" alt="simbolo da estação">
                <p>Pinheiros</p>
            </a>
        </div>
        <div id="estacao"  onclick="desativaMenu()">
            <a href="/estacao?estacao=hebraica reboucas">
                <img src="/images/bola-estacao.png" alt="simbolo da estação">
                <p>Hebraica Rebouças</p>
            </a>
        </div>
        <div id="estacao"  onclick="desativaMenu()">
            <a href="/estacao?estacao=cidade jardim">
                <img src="/images/bola-estacao.png" alt="simbolo da estação">
                <p>Cidade Jardim</p>
            </a>
        </div>
        <div id="estacao"  onclick="desativaMenu()">
            <a href="/estacao?estacao=vila olimpia">
                <img src="/images/bola-estacao.png" alt="simbolo da estação">
                <p>Vila Olímpia</p>
            </a>
        </div>
        <div id="estacao"  onclick="desativaMenu()">
            <a href="/estacao?estacao=berrini">
                <img src="/images/bola-estacao.png" alt="simbolo da estação">
                <p>Berrini</p>
            </a>
        </div>
        <div id="estacao"  onclick="desativaMenu()">
            <a href="/estacao?estacao=morumbi">
                <img src="/images/bola-estacao.png" alt="simbolo da estação">
                <p>Morumbi</p>
            </a>
        </div>
        <div id="estacao"  onclick="desativaMenu()">
            <a href="/estacao?estacao=granja julieta">
                <img src="/images/bola-estacao.png" alt="simbolo da estação">
                <p>Granja Julieta</p>
            </a>
        </div>
        <div id="estacao"  onclick="desativaMenu()">
            <a href="/estacao?estacao=joao dias">
                <img src="/images/bola-estacao.png" alt="simbolo da estação">
                <p>João Dias</p>
            </a>
        </div>
        <div id="estacao"  onclick="desativaMenu()">
            <a href="/estacao?estacao=santo amaro">
                <img src="/images/bola-estacao.png" alt="simbolo da estação">
                <p>Santo Amaro</p>
            </a>
        </div>
        <div id="estacao"  onclick="desativaMenu()">
            <a href="/estacao?estacao=socorro">
                <img src="/images/bola-estacao.png" alt="simbolo da estação">
                <p>Socorro</p>
            </a>
        </div>
        <div id="estacao"  onclick="desativaMenu()">
            <a href="/estacao?estacao=jurubatuba">
                <img src="/images/bola-estacao.png" alt="simbolo da estação">
                <p>Jurubatuba</p>
            </a>
        </div>
        <div id="estacao"  onclick="desativaMenu()">
            <a href="/estacao?estacao=autodromo">
                <img src="/images/bola-estacao.png" alt="simbolo da estação">
                <p>Autódromo</p>
            </a>
        </div>
        <div id="estacao"  onclick="desativaMenu()">
            <a href="/estacao?estacao=primavera interlagos">
                <img src="/images/bola-estacao.png" alt="simbolo da estação">
                <p>Primavera Interlagos</p>
            </a>
        </div>
        <div id="estacao"  onclick="desativaMenu()">
            <a href="/estacao?estacao=grajau">
                <img src="/images/bola-estacao.png" alt="simbolo da estação">
                <p>Grajaú</p>
            </a>
        </div>
        <div id="estacao"  onclick="desativaMenu()">
            <a href="/estacao?estacao=mendes vila natal">
                <img src="/images/bola-estacao.png" alt="simbolo da estação">
                <p>Mendes Vila Natal</p>
            </a>
        </div>
        <div id="estacao"  onclick="desativaMenu()">
            <a href="/estacao?estacao=varginha">
                <img src="/images/bola-estacao.png" alt="simbolo da estação">
                <p>Varginha</p>
            </a>
        </div>
    </nav>